%main#content.container
  .message.row
    #message-title メッセージ
    #message-content
      %ul.messagelist
        - @messages.each do |message|
          = render partial: "message", locals: { message: message }
