%main#content.container
  .message.row
    %h2#message-title メッセージ
    #message-content
      %ul.messagelist
        - @teachers.each do |teacher|
          = render partial: "message", locals: { message: teacher.messages.first }
