<div id="header">
  <header id="headerIn">
    <a href="/" id="siteId" class="siteId">
      ロゴ
    </a>

    <form id="search_form" class="findHeaderForm">
    </form>

    <nav id="navigation">
      BEMEN
    </nav>
  </header>
</div>
