%main#content.container
  .content__user
    %h2#titleUser.title ユーザー情報
    .userDetail.row
      .col-md-5
        = image_tag current_user.image
      .col-md-4
        = current_user.name
      .col-md-3
        = current_user.age
    .userLink
      = link_to "ユーザー情報を編集する", edit_user_path(current_user.id)
