%main#content.container
  .content__user
    #titleUser.title ティーチャーー情報
    .row
      .col-md-5
        = image_tag current_user.image
      .col-md-4
        = current_user.name
      .col-md-3
        = current_user.age
    = link_to "ティーチャー情報を編集する", edit_user_path(current_user.id)
