%main#content
  .content__user
    #titleUser.title ティーチャーー情報
    .userPhoto
      = image_tag current_teacher.image
    .userDescription ティーチャーの詳細
    = link_to "ティーチャー情報を編集する", edit_user_path(current_teacher.id)
