%main#content.container
  .content__user
    #titleUser.title ティーチャーー情報
    .row
      .col-md-5
        = image_tag current_teacher.image
      .col-md-4
        = current_teacher.name
      .col-md-3
        = current_teacher.age
    = link_to "ティーチャー情報を編集する", edit_teacher_path(current_teacher.id)
