%main#content
  .content__teacher-profile
    .teacher-photo
      %p 写真
    .teacher-introduction
      %p 自己紹介
  .content__teacher-past
    #titlePast.title 過去の実績
    .man
    .man
    .man
    .man
