//////////////////
///messages/new///
//////////////////


#content{

  .message{
    padding: 50px;
    box-sizing: border-box;

    #message-title{
      height: 50px;
      margin-bottom: 10px;
    }

    #message-content{

    }
  }

  .message-form{

    .message-body{

    }

    .message--send{

    }

    .btn{
      display: block;
      margin: 0 auto;
    }
  }
}
