#content{
  // width: 1000px;
  // height: 500px;
  margin: 0 auto;

  .content__post{
    // width: 1000px;
    height: 300px;
    box-sizing: border-box;

    #titlePost{
      // width: 1000px;
      height: 50px;
    }
  }
}
