///////////////////
///teachers/show///
///////////////////


#content{

  .content__user{
    background-color: #5bc0de;

    .teacherInfo{
      height: 200px;
      text-align: center;
    }

    .teacherEdit{
      height: 100px;
      text-align: center;
    }

    .writeReview{
      text-align: center;
    }
  }
}


////////////////////
///teachers/index///
////////////////////


#content{

  .content__mens{
    box-sizing: border-box;

    .man{
      padding: 15px;

      .manIn{
        height: 250px;
        background-color: #5bc0de;

        .manProfile{
          height: 200px;
          text-align: center;
        }

        .manPay{
          text-align: center;
        }
      }
    }
  }
}


//////////////////
///teachers/new///
//////////////////


#content{
  margin: 0 auto;

  .content__teacher--signIn{
    width: 500px;
    height: 300px;
    padding: 50px;
    margin: auto;
    text-align: center;
    box-sizing: border-box;
  }
}


////////////////////
///teachers/edit///
////////////////////


#content{

  .teacher--edit{

    .actions{

      .btn{
        display: block;
        margin: 0 auto;
      }
    }
  }

}
