#header{
  width: 100%;
  background-color: blue;
}

#headerIn{
  width: 1000px;
  margin: auto;
  height: 66px;
  position: relative;
  overflow: hidden;
}


.siteId{
  display: block;
  height: 30px;
  position: absolute;
  top: 18px;
  width: 136px;
}

.findHeaderForm{
  position: absolute;
  top: 15px;
  left: 158px;
}

#navigation{
  position: absolute;
  right: 0;
  line-height: 66px;
  color: #fff;
  font-size: 30px;
}
