/////////////////
///users/index///
/////////////////

#content{
  margin: 0 auto;

  .content__concept{

    .message{
      height: 300px;
      float: left;

      p{
        font-size: 24px;
      }
    }

    .photo{

      .photo__man{
        height: 300px;
        background-color: #5bc0de;
      }
    }
  }

  .content__search{
    height: 100px;
    clear: both;
    background-color: white;

    .formSearch{
      position: relative;
      top: 10px;
    }

    .btn{
      display: block;
      margin: 12px auto;
      width: 200px;
    }
  }

  .content__mens{
    box-sizing: border-box;

    #titleMens{
      height: 50px;
    }

    .man{
      padding: 15px;

      .manIn{
        background-color: #5bc0de;
        height: 250px;
      }
    }
  }
}


////////////////
///users/show///
////////////////

#content{
  margin: 0 auto;

  .content__user{

    #titleUser{
      text-align: center;
    }

    .userDetail{
      height: 150px;
      text-align: center;
    }

    .userLink{
      height: 100px;
      text-align: center;
    }
  }
}


////////////////
///users/edit///
////////////////


#content{

  h2{
    text-align: center;
  }

  .btn{
    display: block;
    margin: 10px auto;
  }
}
